<div class="home-container">
  <div class="content">
    <div class="section">
      <h2>Empowering Students Through <span class="highlight">Home Tuition</span> In Pune</h2>
    </div>
    <div class="section">
      <h2>Achieve Academic Excellence With Classroom Tuition In <span class="highlight">Balewadi</span></h2>
    </div>
    <div class="section">
      <h2>Learn Smarter Anywhere With <span class="highlight">Online</span> One To One Tuition</h2>
    </div>
  </div>
  <button class="btn orange">Get In Touch</button>

</div>
<app-first-step class="firstStep"></app-first-step>
<app-home-tution></app-home-tution>
