
  <nav class="navbar">
    <img src="assets/logo1.jpeg" alt="Logo" class="logo">
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/classes">Classes</a></li>
      <li><a routerLink="/admissions">Admissions</a></li>
      <li><a routerLink="/whyus">Why Us</a></li>
      <li><a routerLink="/contacts">Contact Us</a></li>
    </ul>
  </nav>

  <div class="header-top">
    <span class="contact"><i class="fa fa-phone"></i> Call on: {{mobileNo}}</span>
    <span class="email"> Mail on: {{mailId}}</span>
    <div class="buttons">
      <button class="btn orange">Book a Demo</button>
    </div>
  </div>
  