<div class="features-grid">
    <div class="feature-item" *ngFor="let feature of features">
      <img [src]="feature.icon" [alt]="feature.title" class="feature-icon" />
      <p class="feature-title">{{ feature.title }}</p>
    </div>
  </div>
  <div class="describe">
    <div class="firstStep-text">
      <h1> Unlock Your Child’s Potential with Our Expert Coaching Classes!</h1>
      <p>{{text}}</p>
      <h3>🎯 Limited Seats Available! Enroll Now and Take the First Step Toward Academic Success!</h3>
    </div>
    <div class="describe-Img">
      <img class="mainImg" src="assets/download.webp" alt="Img"/>
    </div>
  </div>
  